@-webkit-keyframes ball-beat {
  0%,
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    opacity: .7;
  }
}
@keyframes ball-beat {
  0%,
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    opacity: .7;
  }
}
.ball-beat > div {
  width: 15px;
  height: 15px;
  margin: 2px;
  display: inline-block;
  background-color: currentColor;
  border-radius: 100%;
  -webkit-animation: ball-beat 0.75s 0s infinite ease-in-out;
          animation: ball-beat 0.75s 0s infinite ease-in-out;
}
.ball-beat > div:nth-child(1) {
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}
.ball-beat > div:nth-child(2) {
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}
@-webkit-keyframes ball-jump {
  33% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  66% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes ball-jump {
  33% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  66% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.ball-jump > div {
  width: 15px;
  height: 15px;
  margin: 2px;
  display: inline-block;
  background-color: currentColor;
  border-radius: 100%;
  -webkit-animation: ball-jump 0.6s 0s infinite ease-in-out;
          animation: ball-jump 0.6s 0s infinite ease-in-out;
}
.ball-jump > div:nth-child(1) {
  -webkit-animation-delay: -0.14s;
          animation-delay: -0.14s;
}
.ball-jump > div:nth-child(2) {
  -webkit-animation-delay: -0.07s;
          animation-delay: -0.07s;
}
@-webkit-keyframes ball-spin {
  50% {
    opacity: .3;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes ball-spin {
  50% {
    opacity: .3;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.ball-spin {
  position: relative;
  top: -10px;
  left: -10px;
}
.ball-spin > div {
  width: 15px;
  height: 15px;
  margin: 2px;
  display: inline-block;
  background-color: currentColor;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: ball-spin 1s -0.96s infinite linear;
          animation: ball-spin 1s -0.96s infinite linear;
}
.ball-spin > div:nth-child(1) {
  top: 25px;
  left: 0;
}
.ball-spin > div:nth-child(2) {
  top: 17.05px;
  left: 17.05px;
  -webkit-animation-delay: -0.84s;
          animation-delay: -0.84s;
}
.ball-spin > div:nth-child(3) {
  top: 0;
  left: 25px;
  -webkit-animation-delay: -0.72s;
          animation-delay: -0.72s;
}
.ball-spin > div:nth-child(4) {
  top: -17.05px;
  left: 17.05px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.ball-spin > div:nth-child(5) {
  top: -25px;
  left: 0;
  -webkit-animation-delay: -0.48s;
          animation-delay: -0.48s;
}
.ball-spin > div:nth-child(6) {
  top: -17.05px;
  left: -17.05px;
  -webkit-animation-delay: -0.36s;
          animation-delay: -0.36s;
}
.ball-spin > div:nth-child(7) {
  top: 0;
  left: -25px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}
.ball-spin > div:nth-child(8) {
  top: 17.05px;
  left: -17.05px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}
